version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    volumes:
      - ./src:/app/src
      - ./logs:/app/logs
    environment:
      - NODE_ENV=development
      - ALLOWED_ORIGINS=http://localhost:5173
    env_file:
      - .env
    command: pnpm run dev

  pocketbase:
    image: mich4el/pocketbase:latest
    ports:
      - "4162:8090"
    volumes:
      - ./db/pb_data:/pb_data
      - ./pb_migrations:/pb_migrations
