version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./logs:/app/logs
    environment:
      - NODE_ENV=production
    env_file:
      - .env

  pocketbase:
    image: ghcr.io/muchobien/pocketbase:latest
    ports:
      - "4162:8090"
    volumes:
      - ./db/pb_data:/pb_data
      - ./pb_migrations:/pb_migrations
